.header {
  margin: 25px 40px;
  height: auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav__links {
  display: flex;
  gap: 20px;
}

.header__nav__link {
  display: inline-flex;
  cursor: pointer;

  height: auto;
  height: 50px;

  padding: 0 15px;

  font-size: 16px;
  font-weight: 400;

  color: #2a2a28;

  text-align: center;
  align-items: center;
  text-decoration: none;

  line-height: 1;

  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(42, 42, 40, 0.1);

  background-color: white;

  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  &:hover {
    background-color: #7694ff;
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(118, 148, 255, 0.2);
  }
}

.header__nav--burger {
  display: block;

  width: 25px;
  height: 3px;

  border-radius: 40px;

  line-height: 1;

  background-color: none;
  position: relative;


  &::before {

    content: ' ';
    display: block;

    width: 25px;
    height: 3px;

    border-radius: 40px;

    background-color: #2a2a28;
    position: absolute;
    top: 0px;
    transform: rotate(-45deg);

  }

  &::after {
    content: ' ';
    display: block;

    width: 25px;
    height: 3px;

    border-radius: 40px;

    background-color: #2a2a28;
    position: absolute;
    top: 0px;

    transform: rotate(45deg);

  }
}

.open {
  transform: rotate(0);
  background-color: #2a2a28;
}

// active elements static, it will never change

.header__active {
  background-color: #7694ff;
  color: white;
}

.heaer__singin:hover {
  background-color: white;
  color: #2a2a28;
  box-shadow: 0px 0px 20px 0px rgba(118, 148, 255, 0.2);
}

.header__nav__link--burger {
  &:hover {
    background-color: white;
    color: #2a2a28;
    box-shadow: 0px 0px 20px 0px rgba(118, 148, 255, 0.2);
  }
}